@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --black: #fff;
    --black2: #444;
    --white: #333;
    --white2: #444;
}

  

body {
  background-color: #0d1117;
  margin:0;
  align-items: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #161b22;
    width: 100%;
    box-sizing: border-box;
}

header .logo
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav 
{
    float: right;

}

header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li
{
    list-style: none;
}

header nav ul li a
{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover
{
    color: #fff;
    background-color: #2196f3;
}

.menu-toggle
{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px)
{
    header
    {
        padding: 0 20px;
        z-index: 1;
    }
    .menu-toggle
    {
        display: block;
    }
    header nav
    {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        left: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }

    header nav ul li a 
    {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    
}




.content {
  margin-top: 60%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}


section
{
  display: flex;
  width: 100%;
}

.banner
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.banner .content    
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .imgBx
{
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.banner .imgBx img
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3
{
  position: relative;
  font-size: 1.4em;
  color: var(--black);
  letter-spacing: 2px;
  text-transform: uppercase;
}

p
{
  color: #777;
}

.btn
{
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--black2);
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  text-decoration: none;
}

.socialMedia
{
  position: relative;
  margin-top: 10%;
  bottom: 20px;
  display: flex;
}

.socialMedia li
{
  list-style: none;
}

.socialMedia li a
{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.05);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 1.2em;
}

.socialMedia li a:hover
{
  background: var(--black2);
  color: #fff;
}